.app {
  background: linear-gradient(
    0.08deg,
    rgba(1, 43, 105, 0.52) 7.94%,
    rgba(1, 37, 97, 0.72) 47.74%,
    #00235d 80.02%
  );
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.header {
  margin: 2rem 7rem;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
}

@media screen and (max-width: 745px) {
  .header {
    justify-content: center;
  }
}
